body{
	background: url("https://wallpaperaccess.com/cdn-cgi/mirage/c9444dfa6f7386ee4065c2c37f287aef993e389b97383749fa7c0271525e3400/1280/full/6416159.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}